pipeline/pl_copy_data_from_current_day_file.json
{
	"name": "pl_copy_data_from_current_day_file",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_datafiles_input_file",
						"type": "DatasetReference",
						"parameters": {
							"p_file_name": {
								"value": "@variables('v_file_name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_datafiles_output_file",
						"type": "DatasetReference",
						"parameters": {
							"p_file_name": {
								"value": "@variables('v_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_file_name",
					"value": {
						"value": "@concat(\n\t'customer_',\n\tformatDateTime(utcNow(),'MMddyyyy'),\n\t'.csv'\n\t)\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-04T08:11:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}