pipeline/pl_incremental_loading_for_single_table.json
{
	"name": "pl_incremental_loading_for_single_table",
	"properties": {
		"activities": [
			{
				"name": "WMD_Start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_loaded_date AS WMD_Start\nFROM control_tbl\nWHERE table_name='customer'\n\t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azSQL_TARGET",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "customer"
						}
					}
				}
			},
			{
				"name": "WMD_End",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(created_at) AS WMD_End FROM customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprem_DATASTORE",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "customer"
						}
					}
				}
			},
			{
				"name": "CP_Load_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WMD_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WMD_End",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM customer\nWHERE created_at>'@{activity('WMD_Start').output.firstRow.WMD_Start}' AND created_at<='@{activity('WMD_End').output.firstRow.WMD_End}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_onprem_DATASTORE",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azSQL_TARGET",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "customer"
						}
					}
				]
			},
			{
				"name": "usp_update_control_table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_Load_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_control_table]",
					"storedProcedureParameters": {
						"last_loaded_date": {
							"value": {
								"value": "@activity('WMD_End').output.firstRow.WMD_End",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": "customer",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azSQL_TARGET",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-08T14:41:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}