templates/pl_incremental_loading_for_single_table/pl_incremental_loading_for_single_table.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"ls_azSQL_TARGET": {
			"type": "string"
		},
		"ls_onprem_SQL_DATASTORE": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_incremental_loading_for_single_table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WMD_Start",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_loaded_date AS WMD_Start\nFROM control_tbl\nWHERE table_name='customer'\n\t",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_azSQL_TARGET",
								"type": "DatasetReference",
								"parameters": {
									"p_table_name": "customer"
								}
							}
						}
					},
					{
						"name": "WMD_End",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(created_at) AS WMD_End FROM customer",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_onprem_DATASTORE",
								"type": "DatasetReference",
								"parameters": {
									"p_table_name": "customer"
								}
							}
						}
					},
					{
						"name": "CP_Load_Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "WMD_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "WMD_End",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM customer\nWHERE created_at>'@{activity('WMD_Start').output.firstRow.WMD_Start}' AND created_at<='@{activity('WMD_End').output.firstRow.WMD_End}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_onprem_DATASTORE",
								"type": "DatasetReference",
								"parameters": {
									"p_table_name": "customer"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azSQL_TARGET",
								"type": "DatasetReference",
								"parameters": {
									"p_table_name": "customer"
								}
							}
						]
					},
					{
						"name": "usp_update_control_table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CP_Load_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_update_control_table]",
							"storedProcedureParameters": {
								"last_loaded_date": {
									"value": {
										"value": "@activity('WMD_End').output.firstRow.WMD_End",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"table_name": {
									"value": "customer",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('ls_azSQL_TARGET')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2025-07-08T14:41:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_azSQL_TARGET')]",
				"[concat(variables('factoryId'), '/datasets/ds_onprem_DATASTORE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azSQL_TARGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_azSQL_TARGET')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().p_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onprem_DATASTORE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_onprem_SQL_DATASTORE')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().p_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}